{% extends 'rooms/base.html' %}
{% load static %}

{% block content %}


  <main class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <!-- Adjusting the column size to 6/12 of the row -->
        <div class="card mb-5">
          <div class="card-body">
            <h1>Подтверждение бронирования</h1>
            <p>Ваше бронирование было успешно создано.</p>
            <div class="d-grid gap-2">
			  <a href="{% url "rooms:index" %}" class="btn btn-primary btn-block btn-card">На главную страницу</a>

			</div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
